<footer>
  <div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"><a href="https://www.instagram.com/sheriff707/"><img id="logo" src="https://image.flaticon.com/icons/png/128/1384/1384031.png"></a></div>
    <div class="grid-item"><a href="https://www.github.com/Shreshth707/"><img id="logo" src="https://image.flaticon.com/icons/png/128/25/25657.png"></a></div>
    <div class="grid-item"><a href="https://www.facebook.com/shreshthsirola/"><img id="logo" src="https://image.flaticon.com/icons/png/128/1051/1051309.png"></a></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
  </div>
  <div class="credit">
    <div>Created by <b>Shreshth</b></div>
  </div>
</footer>
